{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": "off",
    "react/react-in-jsx-scope": "off"
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint"
}
